* {
    box-sizing: border-box;
}

.wrapper {
    margin: 10px auto;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: red;
    text-align: center;
    row-gap: 10px;
    padding: 10px;
}

.container__row {
    display: flex;
    padding: 10px;
    column-gap: 10px;
}

.blue {
    background-color: blue;
    flex: 1;
    height: 200px;
    padding: 10px;
}


.yellow {
    background-color: yellow;
    height: 200px;
    flex: 1;
    padding: 10px;
}
/*.yellow-50 {*/
/*    width: 100%;*/
/*    max-width: 100%;*/
/*}*/

.green-bg {
    background-color: green;
}

.purple {
    background-color: purple;
    height: 200px;
    padding: 10px;
    flex-basis: 40%;
}

.purple:last-child {
    display: flex;
    flex-basis: 60%;
}
                        /*@media запрос*/
@media (max-width : 991px){
    .container__row {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .blue:first-child {
        flex-grow: 2;
    }

    .header-block {
        height: 300px;
    }

    .main-block {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-block {
        height: 300px;
    }

    .yellow {
        flex-basis: calc(50% - 5px);
    }


    .purple:first-child  {
        order: 1;
        flex-grow: 2;
    }

}